Archive
COPYING
INSTALL
Makefile
Makefile.in
Makefile.am.local
Makefile-archive
aclocal.m4
autom4te.cache
config.log
config.status
configure
linux-*
rules-downcheck.pl
config.guess
config.sub
ltmain.sh
compile
depcomp
py-compile
install-sh
lastChoice
localmacros
!*.diff
!*.patch
missing
.deps/
BUILD/
BUILDLOG/
SOURCES/
RPMS/
SRPMS/
SPECS/
busybox-*
custom/yaud-neutrino-*
custom/yaud-enigma2-*
own_build/enigma2
own_build/enigma2.*
own_build/neutrino
own_build/neutrino-hd
own_build/neutrino-hd.*
