*~
Archive/
COPYING
INSTALL
Makefile
Makefile.in
Makefile.am.local
Makefile-archive
aclocal.m4
autom4te.cache
config.log
config.status
configure
rules-downcheck.pl
config.guess
config.sub
ltmain.sh
compile
depcomp
py-compile
install-sh
lastChoice
localmacros
missing
.deps/
BUILD/
BUILDLOG/
own_build/
linux-sh4*/
busybox-*/
custom/yaud-neutrino-*
custom/yaud-enigma2-*
